.header {
  border-bottom: 1px solid #f2f4f7;
  background-color: #f7f7f7;
  max-width: 1440px;
  margin: 0 auto;
}

.headerContainer {
  padding: 24px 64px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 450px;
}
