.typeSubtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .typeSubtitle {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .typeSubtitle {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

.typeWrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .typeWrapper {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .typeWrapper {
    margin-bottom: 40px;
  }
}

.typeList {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .typeList {
    display: flex;
    gap: 12px;
  }
}

.typeItem {
  position: relative;
  width: 101px;
  height: 64px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  font-weight: 500;
  text-align: center;
  mix-blend-mode: multiply;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .typeItem {
    width: 112px;
    height: 96px;
    padding: 16px;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}

.typeInput {
  position: absolute;
  opacity: 0;
  block-size: 100%;
  inline-size: 100%;
}

@media screen and (min-width: 768px) {
  .typeSvg {
    width: 32px;
    height: 32px;
  }
}

.typeItemChecked {
  position: relative;
  width: 101px;
  height: 64px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #e44848;
  font-weight: 500;
  text-align: center;
  mix-blend-mode: multiply;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .typeItemChecked {
    width: 112px;
    height: 96px;
    padding: 16px;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
  }
}

.typeItem:nth-child(2),
.typeItemChecked:nth-child(2) {
  padding: 4px 8px;
  gap: 2px;
}

@media screen and (min-width: 768px) {
  .typeItem:nth-child(2),
  .typeItemChecked:nth-child(2) {
    padding: 4px 16px;
  }
}
