.camperTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .camperTitle {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.detailsContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .detailsContainer {
    margin-bottom: 16px;
  }
}

.reviewsWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .reviewsWrapper svg {
    width: 16px;
    height: 16px;
  }
}

.reviewsWrapper p {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media screen and (min-width: 768px) {
  .reviewsWrapper p {
    font-size: 16px;
    line-height: 24px;
  }
}

.locationWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .locationWrapper p {
    font-size: 16px;
    line-height: 24px;
  }
}

.camperPrice {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .camperPrice {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .camperPrice {
    margin-bottom: 28px;
  }
}

.camperImageList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .camperImageList {
    flex-direction: row;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .camperImageList {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .camperImageList {
    gap: 48px;
    margin-bottom: 28px;
  }
}

.camperImageItem {
  width: 335px;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .camperImageItem {
    width: 224px;
    height: 262px;
  }
}

@media screen and (min-width: 1440px) {
  .camperImageItem {
    width: 292px;
    height: 312px;
    cursor: zoom-in;
  }
}

.camperImage {
  object-fit: cover;
}

.camperText {
  color: #475467;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .camperText {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .camperText {
    margin-bottom: 60px;
  }
}
