.camperWrapper {
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 335px;
}

@media screen and (min-width: 768px) {
  .camperWrapper {
    padding: 24px;
    flex-direction: row;
    gap: 24px;
    width: 888px;
  }
}

.camperImg {
  width: 303px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .camperImg {
    width: 292px;
  }
}

.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 303px;
}

@media screen and (min-width: 768px) {
  .camperInfo {
    justify-content: space-between;
    max-width: 524px;
    height: 320px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .titleContainer {
    gap: 8px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .titleWrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.camperTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .camperTitle {
    font-size: 24px;
  }
}

.camperTitleWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .camperTitleWrap {
    gap: 12px;
  }
}

.heartBtn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .heartSvg {
    width: 26px;
    height: 24px;
  }
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .detailsContainer {
    gap: 16px;
  }
}

.reviewsWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.reviewsWrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media screen and (min-width: 768px) {
  .reviewsWrapper p {
    font-size: 16px;
    line-height: 24px;
  }
}

.locationWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.locationWrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .locationWrapper p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.camperDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #475467;
  max-width: 303px;
}

@media screen and (min-width: 768px) {
  .camperDescription {
    font-size: 16px;
    line-height: 24px;
    max-width: 525px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.showMoreBtn {
  width: 136px;
  padding: 14px 30px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.08px;
  text-decoration: none;
  border-radius: 200px;
  background-color: #e44848;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .showMoreBtn {
    width: 166px;
    padding: 16px 40px;
    font-size: 16px;
    line-height: 24px;
  }
}

.showMoreBtn:focus,
.showMoreBtn:hover {
  background-color: #d84343;
}
