.filtersContainer {
  display: flex;
  flex-direction: column;
}

.searchLabel {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .searchLabel {
    gap: 8px;
  }
}

.searchLabel span {
  color: #6c717b;
}

@media screen and (min-width: 768px) {
  .searchLabel span {
    font-size: 16px;
    line-height: 24px;
  }
}

.searchWrapper {
  position: relative;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .searchWrapper {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .searchWrapper {
    margin-bottom: 40px;
  }
}

.searchInput {
  position: relative;
  width: 335px;
  height: 52px;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 18px 18px 18px 46px;
}

@media screen and (min-width: 768px) {
  .searchInput {
    width: 360px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 20px 18px 46px;
  }
}

.searchInput::placeholder {
  color: #6c717b;
}

.iconMap {
  position: absolute;
  fill: #6c717b;
  top: 18px;
  left: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .iconMap {
    width: 18px;
    height: 18px;
  }
}

.searchInput:focus + .iconMap {
  fill: #101828;
}

.filtersText {
  color: #475467;
  font-weight: 500;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .filtersText {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .filtersText {
    margin-bottom: 32px;
  }
}

.filtersSubtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .filtersSubtitle {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .filtersSubtitle {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

.filtersWrapper {
  width: 335px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .filtersWrapper {
    width: 704px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .filtersWrapper {
    width: 360px;
    margin-bottom: 32px;
  }
}

.filtersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px 16px;
}

@media screen and (min-width: 768px) {
  .filtersList {
    gap: 8px 12px;
  }
}

.filtersItem {
  width: 101px;
  height: 64px;
}

@media screen and (min-width: 768px) {
  .filtersItem {
    width: 112px;
    height: 96px;
  }
}

.filtersInput {
  display: none;
}

.filtersLabel {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  border: 1px solid #dadde1;
  mix-blend-mode: multiply;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filtersLabel {
    padding: 16px;
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filtersSvg {
    width: 32px;
    height: 32px;
  }
}

.filtersLabel p {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .filtersLabel p {
    font-size: 16px;
    line-height: 24px;
  }
}

.filtersTypeWrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .filtersTypeWrapper {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .filtersTypeWrapper {
    margin-bottom: 40px;
  }
}

.filtersTypeList {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .filtersTypeList {
    display: flex;
    gap: 12px;
  }
}

.filtersTypeLabel {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #dadde1;
  text-align: center;
  mix-blend-mode: multiply;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filtersTypeLabel {
    padding: 16px;
    gap: 8px;
  }
}

.filtersItem:nth-child(2) .filtersTypeLabel {
  padding: 4px 8px;
  gap: 2px;
}

@media screen and (min-width: 768px) {
  .filtersItem:nth-child(2) .filtersTypeLabel {
    padding: 4px 16px;
  }
}

.filtersTypeLabel p {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .filtersTypeLabel p {
    font-size: 16px;
    line-height: 24px;
  }
}

.filtersInput:checked + .filtersLabel,
.filtersInput:checked + .filtersTypeLabel {
  border: 1px solid #e44848;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .btnWrapper {
    gap: 12px;
    justify-content: start;
  }
}

.searchBtn {
  width: 136px;
  height: 46px;
  padding: 14px 44px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #e44848;
  border-radius: 200px;
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.08px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .searchBtn {
    width: 166px;
    height: 56px;
    padding: 16px 56.5px;
    font-size: 16px;
    line-height: 24px;
  }
}

.searchBtn:focus,
.searchBtn:hover {
  background-color: #d84343;
}

.resetBtn {
  width: 136px;
  height: 46px;
  padding: 14px 44px;
  cursor: pointer;
  outline: none;
  border: 1px solid #dadde1;
  background-color: transparent;
  border-radius: 200px;
  color: #101828;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.08px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .resetBtn {
    width: 166px;
    height: 56px;
    padding: 16px 56.5px;
    font-size: 16px;
    line-height: 24px;
  }
}

.resetBtn:focus,
.resetBtn:hover {
  border: 1px solid #d84343;
}
