.sectionHero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../../assets/hero_desk@1x.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  height: 696px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sectionHero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../../assets/hero_desk@2x.webp);
  }
}

.heroContainer {
  padding: 260px 64px;
}

.heroTitle {
  color: #f7f7f7;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}

.heroSubtitle {
  color: #f7f7f7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
}

.heroBtn {
  display: block;
  width: 173px;
  padding: 16px 48.5px;
  cursor: pointer;
  border-radius: 200px;
  background-color: #e44848;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heroBtn:hover {
  background-color: #d84343;
}
