.formContainer {
  width: 335px;
  padding: 28px 20px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 641px;
    padding: 44px 57px;
    gap: 24px;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.formTitle {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .formTitle {
    font-size: 20px;
  }
}

.formSubtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #6c717b;
}

@media screen and (min-width: 768px) {
  .formSubtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

.formInput {
  width: 303px;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #101828;
}

@media screen and (min-width: 768px) {
  .formInput {
    width: 527px;
    padding: 18px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
  }
}

.formInput::placeholder {
  font-weight: 400;
  color: #6c717b;
}

.formComment {
  width: 303px;
  height: 86px;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #101828;
  resize: none;
}

@media screen and (min-width: 768px) {
  .formComment {
    width: 527px;
    height: 118px;
    padding: 18px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}

.formComment::placeholder {
  color: #6c717b;
}

.formBtn {
  width: 142px;
  cursor: pointer;
  padding: 14px 53px;
  border: none;
  outline: none;
  border-radius: 200px;
  background-color: #e44848;
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.08px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .formBtn {
    width: 166px;
    padding: 16px 63px;
    font-size: 16px;
    line-height: 24px;
  }
}

.formBtn:focus,
.formBtn:hover {
  background-color: #d84343;
}
